.section {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  list-style: none;
}

.error {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px;
  justify-items: center;
  align-items: center;
}

.item {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.bottomWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
  background-color: var(--background-player);
  backdrop-filter: blur(15px);
  padding: 12px 28px;
}

@media screen and (max-width: 768px) {
  .section {
    grid-template-columns: 1fr;
  }
}