.track {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  column-gap: 10px;
  padding: 10px 30px;
  background-color: #2323234d;;
  cursor: pointer;
  border-radius: 10px;
  transition: .3s;

  &:hover {
    box-shadow: inset 0px 0px 10px 1px var(--background-purple);
    transition: .3s;
  }
}

.status_selected {
  color: var(--background-purple);
}

.avatar_active {
  box-shadow: 0 0 1px 2px var(--background-purple);
}

.status_inactive {
  color: var(--text-secondary-color);
  cursor: not-allowed
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 10fr;
  flex-direction: row;
  align-items: center;
  column-gap: 40px;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -moz-box-orient: vertical;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 700px) {
  .track {
    padding: 10px;
  }

  .container {
    column-gap: 14px;
  }
}