.home {
  display: grid;
  grid-template-columns: auto 25%;
  height: inherit;
}

@media screen and (max-width: 1200px) {
  .home {
    grid-template-columns: auto 275px;
  }
}

@media screen and (max-width: 1000px) {
  .home {
    grid-template-columns: 1fr;
  }
}