body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-main);
  color: var(--text-primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

svg {
  fill: currentColor;
}

a {
  text-decoration: none;
  color: var(--text-primary-color);
}

:root {
  --background-main: #111;
  --background-violet: #7209B7;
  --background-purple: #B5179E;
  --background-player: #11111180;
  --background-loader: #8080801e;
  --background-gradient: linear-gradient(136deg, var(--background-purple) 0%, var(--background-violet) 100%);
  --text-primary-color: #fff;
  --text-secondary-color: #B8B8B8;
  --shadow-color: #000000cc;
}

::-webkit-scrollbar {
  width: 0;
}