.main {
  display: grid;
  grid-template-columns: auto 375px;
  column-gap: 35px;
  height: inherit;
  overflow: hidden;
}

.wrapper {
  row-gap: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}

.heading {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
