.wrapper {
  row-gap: 40px;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.artist {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: end;
  row-gap: 10px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: inherit;
}

.text {
  text-align: center;
}

@media screen and (max-width: 700px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }

  .artist {
    justify-content: space-between;
  }
}