.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 4px;
}

.currentTime {
  position: absolute;
  top: 0;
  left: 5px;
}

.duration {
  position: absolute;
  top: 0;
  right: 5px;
}

.input {
  overflow: hidden;
  width: -webkit-fill-available;
  appearance: none;
  height: 15px;
  background-color: #464646;
  border: none;
  margin: 0;
  cursor: pointer;
}

.input::-webkit-slider-runnable-track {
  height: 15px;
  appearance: none;
}

.input::-webkit-slider-thumb {
  width: 0;
  appearance: none;
  height: 15px;
  background: var(--background-purple);
  border-radius: 20px;
  box-shadow: -1000px 0 0 1000px var(--background-purple);
}